# Node modules
node_modules/
.vscode/

# Environment variables
.env

# Configuration files
config.json

# Migrations
migrations/

# Database files
database.sqlite

# Lock files
bun.lockb
package-lock.json
